In [4]:
import numpy as np
import pandas as pd

data_qualidade = pd.read_excel('Base de Dados - Qualidade de Vida.xls')
data_empresas = pd.read_excel('Dataset_empresas.xls')

In [7]:
data_empresas.head()

,Unnamed: 0,"CAE Rev. 3 (total, secções A a J, L a N e P a S) - variante 27 (2)",Empresas (N.º) por Localização geográfica (NUTS - 2013) e Atividade económica (Subclasse - CAE Rev. 3); Anual (3),Remunerações (€) das Empresas por Localização geográfica (NUTS - 2013) e Atividade económica (Subclasse - CAE Rev. 3); Anual (3),Resultado líquido do período (€) das empresas por Localização geográfica (NUTS - 2013) e Atividade económica (Subclasse - CAE Rev. 3); Anual (3),Pessoal ao serviço (N.º) das Empresas por Localização geográfica (NUTS - 2013) e Atividade económica (Divisão - CAE Rev. 3); Anual (3),Volume de negócios (€) das empresas por Localização geográfica (NUTS - 2013) e Atividade económica (Divisão - CAE Rev. 3); Anual (3),Rendibilidade operacional das vendas (%) das Empresas por Localização geográfica (NUTS - 2013) e Atividade económica (Divisão - CAE Rev. 3); Anual (3),Taxa de sobrevivência (%) das Empresas nascidas 2 anos antes por Localização geográfica (NUTS - 2013) e Atividade económica (Divisão - CAE Rev. 3); Anual (4)
0,Alto Minho,"Agricultura, produção animal, caça, floresta e...",5482,12074019.0,12847008.0,6545.0,1.032422e+08,14.80,50.12
1,Alto Minho,Indústrias extrativas,49,NaN,NaN,NaN,NaN,NaN,75.00
2,Alto Minho,Indústrias transformadoras,1751,266455594.0,181419143.0,20471.0,2.466139e+09,10.25,67.59
3,Alto Minho,"Eletricidade, gás, vapor, água quente e fria e...",94,148009.0,37963110.0,94.0,1.830025e+08,32.53,91.53
4,Alto Minho,"Captação, tratamento e distribuição de água; s...",35,NaN,NaN,NaN,NaN,NaN,100.00

In [6]:
data_qualidade.head()

,Localização geográfica (NUTS - 2013) (1),Proporção de poder de compra (% - no total do País) por Localização geográfica (NUTS - 2013); Bienal,Crimes registados (N.º) pelas autoridades policiais por Localização geográfica (NUTS - 2013) e Categoria de crime; Anual (3),População residente (N.º) por Local de residência (NUTS - 2013),Despesas em ambiente dos municípios por habitante (€/ hab.) por Localização geográfica (NUTS - 2013);Anual; €/hab,Rendimento bruto declarado por agregado fiscal (€) por Localização geográfica (NUTS - 2013); Anual (2017)
0,Alto Minho,0.01797,6612,230954,47,14517
1,Cávado,0.03528,9605,403891,25,15944
2,Ave,0.03413,8807,412669,40,14642
3,Área Metropolitana do Porto,0.01745,57000,1722374,48,17773
4,Alto Tâmega,0.00589,2409,86466,48,13386